<%= form_with(model: recipe, local: true) do |form| %>
<% if recipe.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

  <ul>
    <% recipe.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.label :description %>
  <%= form.text_area :description %>
</div>

<div class="field">
  <%= form.label :avatar_url %>
  <%= form.text_field :avatar_url %>
</div>

<div class="field">
  <%= form.label :chef_id %>
  <%= form.number_field :chef_id %>
</div>


<div class="wrapper">
  <h3> Add Ingredient</h3>
  <div class="ingredients-db">
  <ol>
		<% for @ingredient in @recipe.ingredients %>
			<li class="flex-horizontal" id="ingredient-<%= @ingredient.id%>">
        <p><%= @ingredient.name %></p>
          <button data-url="/ingredient/<%= @ingredient.id %>/delete">
            <span class="glyphicon glyphicon-trash"></span>
          </button>   
      </li>
		<% end %>
    </div>
    <div class="content-added"> </div>
    <input id="add-ingredient" type="text" />
  </ol>
  
  <script>
    let btnList = document.querySelectorAll(".wrapper .ingredients-db button");
    if ( btnList != null && btnList.length > 0) {
      for (let btn of btnList) {
        btn.addEventListener("click", function(e) {
          e.preventDefault();
          let ingredientId = btn.parentNode.getAttribute('id');
          let ingredientObj = {
            ingredient: {
              recipe_id: "<%= @recipe.id %>",
              ingredient_id: `${ingredientId.split('-')[1]}`,
            }
          };
          let url = this.getAttribute("data-url")
          fetch(url, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(ingredientObj),
          }).then(res => {
            console.log("____________", res);
            if (res.status == 200) {
            }
            return res.json()
          }).then(res => {
              if (res['status'] == 'ok') {
                let item = document.getElementById(`ingredient-${res['data']['id']}`);
                item.parentNode.removeChild(item);
              }
              
          });
        });      
      }
    }
  </script>

  <h3> Add Step</h3>
  <div class="steps-db">
  <ol>
		<% for @step in @recipe.steps %>
			<li class="flex-horizontal" id="step-<%= @step.id%>">
        <p><%= @step.direction %></p>
          <button data-url="/steps/<%= @step.id %>/delete">
            <span class="glyphicon glyphicon-trash"></span>
          </button>   
      </li>
		<% end %>
    <div class="content-added-step"> </div>
    <input id="add-step" type="text" />
  </ol>

  <script>
    let btnStepList = document.querySelectorAll(".wrapper .steps-db button");
    if ( btnStepList != null && btnStepList.length > 0) {
      for (let btn of btnStepList) {
        btn.addEventListener("click", function(e) {
          e.preventDefault();
          let stepId = btn.parentNode.getAttribute('id');
          let stepObj = {
            step: {
              id: `${stepId.split('-')[1]}`,
            }
          };
          let url = this.getAttribute("data-url")
          fetch(url, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(stepObj),
          }).then(res => {
            console.log("____________", res);
            if (res.status == 200) {
            }
            return res.json()
          }).then(res => {
              if (res['status'] == 'ok') {
                let item = document.getElementById(`step-${res['data']['id']}`);
                item.parentNode.removeChild(item);
              }
              
          });
        });      
      }
    }
  </script>
</div>

<%= javascript_pack_tag 'add_ingredient' %>
<%= javascript_pack_tag 'add_step' %>



<button class="save-recipe" type="submit">Save</button>

<% end %>