<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<%= stylesheet_link_tag "recipes", media: "all" %>
<p id="notice"><%= notice %></p>

<div class="header">
  <div class="nav-bar">
    <h1>Recipes</h1>
    <%= form_tag '/search', method: 'post', :class => 'form-inline' do %>

      <div class="form-group input-container">
        <button class="icon search js-activate" title="Search" name="commit" type="submit">
            <span
              class="icon icon-search utility-icon color-navigation ">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24" role="img" aria-hidden="true" tabindex="-1"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
            </span>
        </button>
        <input type="text" name="search" id="search" placeholder="Find a Recipe">
      </div>
    <% end %>
<%# end of search %>
    <div></div>
  </div>
</div>

<div class="recipes-infor">
  <div class="recipe-list">
    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-md-4">
          <div class="recipe-box">
            <% if recipe.image.attached? %>
              <%= link_to (image_tag recipe.image, class: "recipe-index"), recipe %>
            <% end %>
            <ul>
              <li><%= recipe.name %></li>
              <li><%= recipe.description %></li>
              <li><%= link_to 'Show', recipe %> |
                <%= link_to 'Edit', edit_recipe_path(recipe) %> |
                <%= link_to 'Destroy', recipe, method: :delete, data: {confirm: 'Are you sure?'} %></li>
            </ul>
          </div><!-- /recipe-box-->
        </div><!--col-md-4-->
      <% end %>
    </div><!--/row-->
  </div><!--/recipe-list-->


  <div class="favorite-recipes">
    <h3>Favorite recipes</h3>
    <ul>
      <% @recipes.first(5).each do |recipe| %>
        <li>
          <% if recipe.image.attached? %>
            <%= link_to (image_tag recipe.image, class: "recipe-index"), recipe %>
          <% end %>
          <div class="flex-vertical">
            <p><strong>Name: </strong><%= recipe.name %><p>
            <p><strong>Description: </strong><%= recipe.description %><p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<br>


<a href=<%= new_recipe_path %> class="btn-new-recipe">
  <span class="glyphicon glyphicon-plus"></span>
</a>

<script>
    let myInput = document.querySelector("#search");

    function fromJson(recipeData) {
        let recipe = {
            id: recipeData['id'],
            name: recipeData['name'],
            description: recipeData['description'],
            avatarUrl: recipeData['avatar_url'],
            chefId: recipeData['chef_id']
        }

        return recipe;
    }

    myInput.onkeydown = function (e) {
        e = e || window.event
        if (e.keyCode === 13) {
            e.preventDefault()
            let recipeObj = {
                recipe: {
                    name: `${myInput.value}`
                }
            }
        }
    }

    function getRecipes(recipeData) {
        const headers = new Headers({
            'Content-Type': 'application/json',
        });

        let url = '/recipes-search'

        fetch(url, {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(recipeData),
        })
            .then(res => {
                console.log(res)
                return res.json()
            })
            .then(res => {
                console.log("____________", res);
                if (res['status'] === 'ok') {
                    if (res['data'] !== null) console.log(res['data'])
                    let table = document.querySelector('tbody');
                    table.innerHTML = "";
                    for (const recipeData of res['data']) {
                        let recipe = fromJson(recipeData);
                        let item = document.createElement('tr');
                        item.innerHTML = `
                              <td>${recipe.name}</td>
                              <td>${recipe.description}</td>
                              <td>${recipe.avatarUrl}</td>
                              <td>${recipe.chefId}</td>`;
                        table.appendChild(item);
                    }
                }

            });
    }

</script>