<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<%= stylesheet_link_tag "recipes", media: "all" %>
<p id="notice"><%= notice %></p>

<div class="nav-bar">

  <h1>Recipes</h1>
  <%= form_tag '/recipes-search', method: 'post', :class => 'form-inline' do %>  
    <div class="form-group">
        <%= text_field_tag :search %>
        <%= submit_tag "Search" %>
    </div>
  <% end %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Avatar url</th>
      <th>Chef</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
  <tr class="recipe-list"></tr>
  <% if @recipes != nil %>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.avatar_url %></td>
        <td><%= recipe.chef_id %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
<script>
    let myInput = document.querySelector("#search");

    function fromJson(recipeData) {
        let recipe = {
            id: recipeData['id'],
            name: recipeData['name'],
            description: recipeData['description'],
            avatarUrl: recipeData['avatar_url'],
            chefId: recipeData['chef_id']
        }

        return recipe;
    }

    myInput.onkeydown = function (e) {
        e = e || window.event
        if (e.keyCode === 13) {
            e.preventDefault()
            let recipeObj = {
                recipe: {
                    name: `${myInput.value}`
                }
            }
        }
    }

    function getRecipes(recipeData) {
        const headers = new Headers({
            'Content-Type': 'application/json',
        });

        let url = '/recipes-search'

        fetch(url, {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(recipeData),
        })
            .then(res => {
                console.log(res)
                return res.json()
            })
            .then(res => {
                console.log("____________", res);
                if (res['status'] === 'ok') {
                    if (res['data'] !== null) console.log(res['data'])
                    let table = document.querySelector('tbody');
                    table.innerHTML = "";
                    for (const recipeData of res['data']) {
                        let recipe = fromJson(recipeData);
                        let item = document.createElement('tr');
                        item.innerHTML = `
                              <td>${recipe.name}</td>
                              <td>${recipe.description}</td>
                              <td>${recipe.avatarUrl}</td>
                              <td>${recipe.chefId}</td>`;
                        table.appendChild(item);
                    }
                }

            });
    }

</script>